html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

.textarea_1 {
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 2px;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  font-family: sans-serif, serif, "Times New Roman", Times;
  background-color: hsl(0, 0%, 95%);
  overflow-x: hidden;
  overflow-y: scroll;
}

.seccion {
  margin-top: 10vh;
}

.linea {
  display: grid;
  padding: 1px 30%;
  margin: 30px 0;
  background-color: hsl(171, 83%, 40%);
}

.globalWhatsapp {
  transition: all 0.25s ease-in;
  height: 80px;
  width: 80px;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.globalWhatsapp:hover {
  transform: scale(1.2);
}

.navBarMenu {
  height: 0;
  width: 0;
  top: 10vh;
  right: -20em;
  position: fixed;
  background-color: hsl(171, 83%, 40%);
  animation: none;
  z-index: 9999;
  display: grid;
  place-items: center;
}
.navBarMenu * {
  color: hsl(0, 0%, 100%);
}

.closeNavBarMenu {
  animation: closingNavBarMenu 1s forwards;
}

.navScrolled {
  color: hsl(194, 85%, 62%);
  border-bottom: 4px solid hsl(194, 85%, 62%);
}

.header * {
  transition: all 0.25s ease-in;
}

.header {
  height: 10vh;
  width: 100%;
  font-size: 1.3em;
  font-weight: 600;
  color: hsl(171, 83%, 40%);
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__carroDeCompra img, .header__perfil img {
  height: 25px;
  width: 25px;
}
.header__carroDeCompra__cantidad {
  padding: 0;
  margin: 0;
}
.header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header nav ul li:not(:first-of-type):hover, .header nav ul button:hover {
  transform: scale(1.2);
}
.header__logoContenedor__logo {
  height: 50px;
  width: 100px;
}
.header__navBar {
  display: grid;
  place-content: center;
  cursor: pointer;
  padding: 5px 15px;
  border: none;
  background-color: transparent;
}
.header__navBar__line {
  padding: 2px 15px;
  background: hsl(171, 83%, 40%);
  margin-top: -5px;
  border-radius: 1.5em;
}
.header__navBar__line:nth-of-type(2) {
  padding: 2px 5px;
  margin-left: 10px;
  background: hsl(171, 83%, 40%);
  margin-top: 5px;
  border-radius: 1.5em;
}

footer {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 0 20px;
  padding-bottom: 30px;
}

@keyframes navBarClickedLine1 {
  50% {
    margin: 0 0 -2px 0;
    transform: rotate(0);
  }
  100% {
    margin: 0 0 -2px 0;
    transform: rotate(50deg) scale(1.3);
  }
}
@keyframes navBarClickedLine2 {
  50% {
    margin: -2px 0 0 0;
    transform: rotate(0);
  }
  100% {
    margin: -2px 0 0 0;
    transform: rotate(-50deg) scale(1.3);
  }
}
@keyframes navBarClosingLine1 {
  0% {
    margin: 0 0 -2px 0;
    transform: rotate(50deg) scale(1.3);
  }
  50% {
    margin: 0 0 -2px 0;
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
    margin-top: -5px;
    margin: 0;
  }
}
@keyframes navBarClosingLine2 {
  0% {
    margin: -2px 0 0 0;
    transform: rotate(-50deg) scale(1.3);
  }
  50% {
    margin: -2px 0 0 0;
    transform: rotate(0);
  }
  100% {
    margin: 0;
    margin-left: 10px;
    margin-top: 5px;
    transform: rotate(0);
  }
}
@keyframes navBarHide {
  from {
    height: calc(100vh - 50px);
    width: 20vw;
    right: 0;
  }
  to {
    height: 0vh;
    width: 0vw;
    right: -20em;
  }
}
@keyframes navBarShow {
  from {
    height: 0vh;
    width: 0vw;
    right: -20em;
  }
  to {
    height: calc(100vh - 50px);
    width: 20vw;
    right: 0;
  }
}
@keyframes line {
  from {
    stroke-dashoffset: 250;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__heroe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.main__heroe__imagenPrincipal {
  height: 200px;
  width: 300px;
  margin-top: 20px;
}
.main__heroe__texto {
  margin: 20px 0;
  width: 490px;
  color: hsl(171, 83%, 40%);
}
.main__heroe__solicitarTurno, .main__heroe__verProductos {
  padding: 10px;
  border: 2px solid hsl(171, 83%, 40%);
  border-radius: 30px;
}
.main__heroe__solicitarTurno:hover, .main__heroe__verProductos:hover {
  background-color: hsl(171, 83%, 40%);
  color: hsl(0, 0%, 100%);
}
.main__heroe__solicitarTurno {
  margin-bottom: 20px;
}
.main__servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(171, 83%, 40%);
}
.main__servicios__titulo {
  font-weight: 600;
  margin-bottom: 20px;
}
.main__servicios__contenedor {
  display: flex;
  flex-direction: row;
}
.main__servicios__contenedor__imagenIzquierda, .main__servicios__contenedor__imagenDerecha {
  height: 200px;
  width: 150px;
}
.main__servicios__contenedor__listaDeServicios {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main__servicios__contenedor__listaDeServicios div {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__servicios__contenedor__listaDeServicios div img {
  height: 50px;
  width: 50px;
}
.main__direccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__direccion__titulo {
  color: hsl(171, 83%, 40%);
  margin-bottom: 20px;
}
.main__direccion__ubicacion, .main__direccion__horario, .main__direccion__telefono, .main__direccion__whatsapp {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.main__direccion__ubicacion img, .main__direccion__horario img, .main__direccion__telefono img, .main__direccion__whatsapp img {
  height: 25px;
  width: 25px;
}
.main__direccion__whatsapp {
  margin-bottom: 0;
}
.main__direccion__mapa {
  margin-bottom: 20px;
}
.main__mediosDePago {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.main__mediosDePago__titulo {
  color: hsl(171, 83%, 40%);
  margin-bottom: 20px;
}
.main__mediosDePago__tarjetasContenedor {
  display: flex;
  flex-direction: row;
}
.main__mediosDePago__tarjetasContenedor div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.acercaDeNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin-bottom: -18px;
}
.acercaDeNosotros__imagenPrincipal {
  height: 200px;
  width: 300px;
  margin: 20px 0;
}
.acercaDeNosotros__misionTitulo, .acercaDeNosotros__visionTitulo, .acercaDeNosotros__valoresTitulo {
  color: hsl(171, 83%, 40%);
}
.acercaDeNosotros__textoPrincipal, .acercaDeNosotros__misionTexto, .acercaDeNosotros__visionTexto, .acercaDeNosotros__valoresTexto {
  margin: 0 30%;
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto__formulario {
  margin: 20vh 0 50px 0;
  height: 600px;
  border-radius: 5px;
  background: hsla(206, 42%, 13%, 0.9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  width: 400px;
}
.contacto__formulario h1 {
  color: hsl(0, 0%, 95%);
  font-weight: 300;
  margin: 0 0 40px;
  font-size: 24px;
  text-align: center;
}
.contacto__formulario form {
  display: flex;
  flex-direction: column;
  width: 185px;
}
.contacto__formulario label {
  font-size: 18px;
  color: hsl(0, 0%, 95%);
  margin-bottom: 10px;
}
.contacto__formulario input, .contacto__formulario textarea {
  height: 50px;
  width: 210%;
  border: 0;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.contacto__formulario textarea {
  height: 100px;
  margin-bottom: 30px;
}
.contacto__formulario__boton {
  background-color: hsl(171, 83%, 40%);
  color: hsl(0, 0%, 100%);
  width: 213%;
}
.contacto__formulario__boton:hover {
  background-color: hsl(194, 85%, 62%);
  cursor: pointer;
}

@media (max-width: 991px) {
  .contacto {
    padding: 30px;
  }
  .contacto__formulario {
    width: 100%;
  }
  .contacto__formulario form {
    width: 100%;
  }
}
.logIn *, .logIn *:before, .logIn *:after {
  box-sizing: border-box;
}
.logIn a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}
.logIn a:hover {
  color: #179b77;
}
.logIn .contenedor-formularios {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin-top: 20vh;
}
.logIn .contenedor-tabs {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.logIn .contenedor-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.logIn .contenedor-tabs li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.logIn .contenedor-tabs li a:hover {
  background: #179b77;
  color: #fff;
}
.logIn .contenedor-tabs .active a {
  background: #1ab188;
  color: #fff;
}
.logIn .contenido-tab > div:last-child {
  display: none;
}
.logIn h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  margin: 0 0 40px;
}
.logIn label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.logIn label .req {
  margin: 2px;
  color: #1ab188;
}
.logIn label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.logIn label.active .req {
  opacity: 0;
}
.logIn label.highlight {
  color: #fff;
}
.logIn input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  border-radius: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
}
.logIn input:focus {
  outline: none;
  border-color: #1ab188;
}
.logIn .contenedor-input {
  position: relative;
  margin-bottom: 40px;
}
.logIn .fila-arriba:after {
  content: "";
  display: table;
  clear: both;
}
.logIn .fila-arriba div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.logIn .fila-arriba div:last-child {
  margin: 0;
}
.logIn .button {
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 0;
  font-size: 2rem;
  background: #1ab188;
  color: #fff;
  transition: all 0.5s ease;
  appearance: none;
  -webkit-appearance: none;
}
.logIn .button:hover, .logIn .button:focus {
  background: #179b77;
}
.logIn .button-block {
  display: block;
  width: 100%;
}
.logIn .forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .fila-arriba div {
    width: 100%;
  }
  .fila-arriba div:last-child {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 400px) {
  .contenedor-tabs li a {
    width: 100%;
  }
}
.editarMascota *, .editarMascota *:before, .editarMascota *:after {
  box-sizing: border-box;
}
.editarMascota a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}
.editarMascota a:hover {
  color: #179b77;
}
.editarMascota .contenedor-formularios {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin-top: 20vh;
}
.editarMascota .contenedor-tabs {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.editarMascota .contenedor-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.editarMascota .contenedor-tabs li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.editarMascota .contenedor-tabs li a:hover {
  background: #179b77;
  color: #fff;
}
.editarMascota .contenedor-tabs .active a {
  background: #1ab188;
  color: #fff;
}
.editarMascota .contenido-tab > div:last-child {
  display: none;
}
.editarMascota h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  margin: 0 0 40px;
}
.editarMascota label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.editarMascota label .req {
  margin: 2px;
  color: #1ab188;
}
.editarMascota label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.editarMascota label.active .req {
  opacity: 0;
}
.editarMascota label.highlight {
  color: #fff;
}
.editarMascota input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  border-radius: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
}
.editarMascota input:focus {
  outline: none;
  border-color: #1ab188;
}
.editarMascota .contenedor-input {
  position: relative;
  margin-bottom: 40px;
}
.editarMascota .fila-arriba:after {
  content: "";
  display: table;
  clear: both;
}
.editarMascota .fila-arriba div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.editarMascota .fila-arriba div:last-child {
  margin: 0;
}
.editarMascota .button {
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 0;
  font-size: 2rem;
  background: #1ab188;
  color: #fff;
  transition: all 0.5s ease;
  appearance: none;
  -webkit-appearance: none;
}
.editarMascota .button:hover, .editarMascota .button:focus {
  background: #179b77;
}
.editarMascota .button-block {
  display: block;
  width: 100%;
}
.editarMascota .forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .fila-arriba div {
    width: 100%;
  }
  .fila-arriba div:last-child {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 400px) {
  .contenedor-tabs li a {
    width: 100%;
  }
}
.stock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stock__filtro {
  margin: 20px 0;
  text-align: center;
}
.stock__filtro__texto {
  margin-bottom: 10px;
}
.stock__tarjeta__contenedor {
  height: auto;
  width: 600px;
  margin: 7.5px 0;
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-rows: 40px 25px 25px auto 25px;
  grid-template-columns: 200px 400px;
}
.stock__tarjeta__contenedor__imagen {
  grid-column: 1;
  grid-row: 1/-1;
  place-self: center;
  height: 200px;
  width: 130px;
}
.stock__tarjeta__contenedor__descripcion {
  grid-column: 2;
  grid-row: 1;
  overflow-y: hidden;
}
.stock__tarjeta__contenedor__precio {
  grid-column: 2;
  grid-row: 2;
  font-weight: bold;
}
.stock__tarjeta__contenedor__stock ul {
  list-style: disc;
  overflow-y: hidden;
}
.stock__tarjeta__contenedor__stock ul .stock__tarjeta__contenedor__caracteristicas {
  grid-column: 2;
  grid-row: 3/-2;
  margin-left: 17px;
}
.stock__tarjeta__contenedor button {
  grid-row: -1;
  grid-column: 2;
}

.turnos {
  height: 100vh;
  display: grid;
  place-content: center;
}
.turnos__formulario {
  padding: 50px;
  width: 400px;
  background-color: rgb(36, 49, 60);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.turnos__formulario__titulo {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  color: hsl(0, 0%, 100%);
  font-size: 24px;
}
.turnos__formulario label {
  color: hsl(0, 0%, 66%);
  width: 90%;
}
.turnos__formulario input, .turnos__formulario select {
  width: 90%;
  margin-bottom: 10px;
  height: 30px;
}
.turnos__formulario textarea {
  height: 150px;
  width: 90%;
  margin-bottom: 10px;
}
.turnos__formulario input[type=submit] {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  height: 40px;
  font-size: large;
  border-radius: 3px;
  appearance: inherit;
  background-color: rgba(26, 177, 136, 0.8);
  color: hsl(0, 0%, 100%);
}

.carro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}
.carro__filtro {
  margin: 20px 0;
  text-align: center;
}
.carro__filtro__texto {
  margin-bottom: 10px;
}
.carro__resultadoCompra {
  padding: 16px 0;
}
.carro__tarjetaCarro__contenedor {
  height: auto;
  width: 600px;
  margin: 7.5px 0;
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-rows: 40px 25px 25px auto 35px 25px;
  grid-template-columns: 200px 400px;
}
.carro__tarjetaCarro__contenedor__imagen {
  grid-column: 1;
  grid-row: 1/-1;
  place-self: center;
  height: 200px;
  width: 130px;
}
.carro__tarjetaCarro__contenedor__descripcion {
  grid-column: 2;
  grid-row: 1;
  overflow-y: hidden;
}
.carro__tarjetaCarro__contenedor__precio {
  grid-column: 2;
  grid-row: 2;
  font-weight: bold;
}
.carro__tarjetaCarro__contenedor__stock ul {
  list-style: disc;
  overflow-y: hidden;
}
.carro__tarjetaCarro__contenedor__stock ul .stock__tarjetaCarro__contenedor__caracteristicas__contenido {
  grid-column: 2;
  grid-row: 3/-2;
  margin-left: 17px;
}
.carro__tarjetaCarro__contenedor__cantidad {
  padding: 5px 0 5px 0;
}
.carro__tarjetaCarro__contenedor button {
  grid-row: -1;
  grid-column: 2;
}/*# sourceMappingURL=main.css.map */