.carro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;

    &__filtro {
        margin: 20px 0;
        text-align: center;

        &__texto {
            margin-bottom: 10px;
        }
    }

    &__resultadoCompra{
        padding: 16px 0;
    }

    &__tarjetaCarro__contenedor {
        height: auto;
        width: 600px;
        margin: 7.5px 0;
        background-color: $blanco;
        display: grid;
        grid-template-rows: 40px 25px 25px auto 35px 25px;
        grid-template-columns: 200px 400px;

        &__imagen {
            grid-column: 1;
            grid-row: 1/-1;
            place-self: center;
            height: 200px;
            width: 130px;
        }

        &__descripcion {
            grid-column: 2;
            grid-row: 1;
            overflow-y: hidden;
        }

        &__precio {
            grid-column: 2;
            grid-row: 2;
            font-weight: bold;
        }

        &__stock

        ul {
            list-style: disc;
            overflow-y: hidden;

            .stock__tarjetaCarro__contenedor__caracteristicas__contenido {
                grid-column: 2;
                grid-row: 3/-2;
                margin-left: 17px;
            }
        }

        &__cantidad {
            padding: 5px 0 5px 0;
        }

        button {
            grid-row: -1;
            grid-column: 2;
        }
    }
}