.contacto {
    display: flex;
    justify-content: center;
    align-items: center;

    &__formulario {
        margin: 20vh 0 50px 0;
        height: 600px;
        border-radius: 5px;
        background: $colorFormulario;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        width: 400px;
    
        h1 {
            color: $gris;
            font-weight: 300;
            margin: 0 0 40px;
            font-size: 24px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 185px;
        }

        label {
            font-size: 18px;
            color: $gris;
            margin-bottom: 10px;
        }
        
        input, textarea {
            height: 50px;
            width: 210%;
            border: 0;
            font-size: 18px;
            margin-bottom: 20px;
            border-radius: 10px;
        }
        
        textarea {
            height: 100px;
            margin-bottom: 30px;
        }

        &__boton {
            background-color: $verde;
            color: $blanco;
            width: 213%;
        }
        
        &__boton:hover {
            background-color: $celeste;
            cursor: pointer;
        }
    }
}

@media(max-width:991px) {
    .contacto {
        padding: 30px;

        &__formulario{
            width: 100%;

            form {
                width: 100%;
            }
        }
    }
}